In [4]:
my_list=[1,2,3,4,5]
new_list=[7,8,9]

In [2]:
#merge two lists by keeping the list as a list in the other list
my_list.append(new_list)

In [3]:
my_list

[1, 2, 3, 4, 5, [7, 8, 9]]

In [5]:
#merge two lists by unwraping the list  in the other list
my_list.extend(new_list)

In [6]:
my_list

[1, 2, 3, 4, 5, 7, 8, 9]

In [7]:
#count no of 1's in the list
my_list.count(1)

1

In [8]:
#index of 1 in the list
my_list.index(1)

0

In [9]:
#insert 2 at 0th position in the list
my_list.insert(0,2)

In [12]:
my_list

[2, 1, 2, 3, 4, 5, 7, 8, 9]

In [15]:
#pops the 3rd element from the list
my_list.pop(2)

2

In [16]:
my_list

[2, 1, 3, 4, 5, 7, 8, 9]

In [17]:
#removes 8 from the list
my_list.remove(8)

In [18]:
my_list

[2, 1, 3, 4, 5, 7, 9]

In [19]:
#sorts the list
my_list.sort()

In [20]:
my_list

[1, 2, 3, 4, 5, 7, 9]

In [21]:
set1 = {0, 2, 4, 6, 8};
set2 = {1, 2, 3, 4, 5};

# set union
print("Union of set1 and set2 is",set1 | set2)

# set intersection
print("Intersection of set1 and set2 is",set1 & set2)

# set difference
print("Difference of set1 and set2 is",set1 - set2)

# set symmetric difference
print("Symmetric difference of set1 and set2 is",set1 ^ set2)

Union of set1 and set2 is {0, 1, 2, 3, 4, 5, 6, 8}
Intersection of set1 and set2 is {2, 4}
Difference of set1 and set2 is {8, 0, 6}
Symmetric difference of set1 and set2 is {0, 1, 3, 5, 6, 8}

In [23]:
#Basic string methods
string = 'Hello World'
print(string)
print(string.lower())
print(string.upper())
print(string.title())
print(string.startswith('H'))
print(string.endswith('world'))
print(string.find('Hello'))

# replaces all instances of 'Hello' with 'Hi'
print(string.replace('Hello', 'Hi'))

# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
print(' '.join(stooges))

# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
print(s3 + ' ' + s4)

#Remove whitespace from the start and end of a string:
s5 = '  ham and cheese  '
print(s5.strip())

#String substitutions
print('raining {} and {}'.format('cats', 'dogs'))

#String formatting 
# use 2 decimal places
print('pi is {:.2f}'.format(3.14159))


#splitting a string on space
print(string.split(' '))
a = "Fizz" + "Buzz"
print(a)

# convert another data type into a string
s = str(42)
print(s)


#length of a  string
s1 = 'I like you'
print(len(s1))


#String slicing
print(s1[:6])

Hello World
hello world
HELLO WORLD
Hello World
True
False
0
Hi World
larry curly moe
The meaning of life is 42
ham and cheese
raining cats and dogs
pi is 3.14
['Hello', 'World']
FizzBuzz
42
10
I like

In [24]:
# create a tuple directly
digits = (0, 1, 'two')

#Examine a tuple
print(digits[2])

#length a tuple
print(len(digits))

# counts the number of instances of that value
print(digits.count(0))

# returns the index of the first instance of that value
print(digits.index(1))

# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

# concatenate tuples
digits = digits + (3, 4)
print(digits)

# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
print(sorted(tens) )   # sorts by first element in tuple, then second element

# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

two
3
1
1
(0, 1, 'two', 3, 4)
[(10, 40), (20, 30), (20, 60)]
male
10
simpson